@using WebApp.Models
@model List<Policy>
@{
    ViewBag.Title = "Our Policies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BANNER -->
<div class="section banner-page pages">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="title-page">Policy</div>
                <ol class="breadcrumb">
                    <li><a href="#">Our policies</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- SINGLE PAGE -->
<div class="section pages section-border">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-7">
                <h2 class="section-heading">
                    Privacy Policy
                </h2>
                <div class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                <ul class="checklist">
                    <li>100% Secure, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</li>
                    <li>Easy to claim, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet.</li>
                    <li>More benefit nonummy nibh euismod. Lorem ipsum dolor sit amet, consectetuer.</li>
                </ul>

            </div>
            <div class="col-sm-5 col-md-5">
                <img src="~/images/policy.jpg" alt="" class="img-responsive">
            </div>

        </div>
    </div>
</div>

<!-- OPEN POSITION -->
<div class="section why section-border">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h2 class="section-heading">
                    Insurance Policy
                </h2>
                <div class="margin-bottom-50"></div>

                <div class="career-tabs" data-example-id="togglable-tabs">
                    <ul id="myTabs" class="nav nav-tabs" role="tablist">

                        @{
                            if (Model != null)
                            {
                                if (Model.Count > 0)
                                {
                                    var i = 1;
                                    foreach (var item in Model)
                                    {
                                        <li class="@(i==1?"active":"")">
                                            <a href="#tab@(item.Id)" aria-controls="tab@(item.Id)" role="tab" data-toggle="tab">@item.Insurance.Category.CategoryName</a>
                                        </li>

                                        i++;
                                    }
                                }
                            }
                        }

                    </ul>

                    <div id="myTabContent" class="tab-content">


                        @{
                            if (Model != null)
                            {
                                if (Model.Count > 0)
                                {
                                    var i = 1;
                                    foreach (var item in Model)
                                    {
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab@(item.Id)">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="body-tab">
                                                        <h4>@item.Name</h4>
                                                        <div class="margin-bottom-30"></div>
                                                        <p>@(System.Web.HttpUtility.HtmlDecode(item.Description))</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        i++;
                                    }
                                }
                            }
                        }

                    </div>
                </div>
                <!-- END TAB -->

            </div>
        </div>
    </div>
</div>


<!-- CTA -->
<div class="section cta">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-7 col-md-offset-1">
                <h3 class="cta-desc">Get An Insurance Right Now & Save up to 10%</h3>
            </div>
            <div class="col-sm-12 col-md-3">
                <a href="@Url.Action("","Contact")" title="" class="btn btn-orange-cta pull-right btn-view-all">GET A QUOTE</a>
            </div>

        </div>
    </div>
</div>

