@model X.PagedList.IPagedList<WebApp.Models.Customer>

@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Customer Manager</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Gender
            </th>
            <th>
                Birthday
            </th>
            <th>
                Phone
            </th>
            <th>
                Address
            </th>
            <th>
                Email
            </th>
            <th>
                Status
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @{

                        if ((bool)item.Gender)
                        {
                            <span>Male</span>
                        }
                        else
                        {
                            <span>Female</span>
                        }
                    }
                </td>
                <td>
                    @item.Birthday.Value.ToString("d")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @{

                        if ((bool)item.Status)
                        {
                            <span class="act">Actived</span>
                        }
                        else
                        {
                            <span class="dis">Disabled</span>
                        }
                    }
                </td>
                <td>
                    <a href="@Url.Action("Details","Customer", new {id=item.Id})">Details</a> |
                    @{
                        if ((bool)item.Status)
                        {
                             <a href="@Url.Action("Disable","Customer", new {id=item.Id})">Disable</a>
                            
                        }
                        else
                        {
                           <a href="@Url.Action("Active","Customer", new {id=item.Id})">Active</a>
                        }
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
