@using WebApp.Models;
@model Payment;
@{
    var db = new InsuranceOnlineContext();
    var contract = db.Contracts.FirstOrDefault(x => x.Id == Model.ContractId);
    var insurance = db.Insurances.FirstOrDefault(x => x.Id == contract.InsuranceId);
    var period_list = db.PeriodicPaymentMethods.ToList();
    var _currency = "$";
}

<div class="section banner-page services">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="title-page">Contract Payment</div>
                <ol class="breadcrumb">
                    <li><a href="#">Contract ID: No.@contract.Id</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- Page -->
<div class="section contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <div class="content">
                    <h2 class="section-heading">
                        Payment Information
                    </h2>
                    <div class="margin-bottom-30"></div>
                    <form action="@Url.Action("Pay","Contracts")" method="post" class="form-contact">
                        <input type="hidden" value="@Model.Id" name="PaymentID" />
                        <input type="hidden" value="@contract.Id" name="ContractID"/>
                        <h3 class="section-heading-2">
                            Selected Plan
                        </h3>
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="checkbox">
                                    <label>
                                        <span class="fa fa-check-square-o"></span> @insurance.Name
                                    </label>
                                </div>
                            </div>
                             <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="">Date of payment</label>
                                    <input type="text" class="form-control" name="Created_at" id="Created_at" readonly>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="">Monthly Fee (@_currency/Month)</label>
                                    <input type="text" class="form-control" value="@Math.Ceiling(insurance.Amount/12)" readonly>
                                </div>
                            </div>
                        </div>
                        <h3 class="section-heading-2">
                            Your option
                        </h3>
                        <div class="row">
                           

                            <div class="col-sm-6 col-md-6">

                                <div class="form-group">
                                    <label class="">Period (Month)</label>
                                    <select type="text" class="form-control" name="PeriodicID" id="PeriodicID">
                                        @foreach (var item in period_list)
                                        {
                                            var _m = @item.NumberOfMonth + " Month";
                                            if (item.NumberOfMonth > 1)
                                            {
                                                _m = @item.NumberOfMonth + " Months";
                                            }
                                            <option value="@item.Id" month-value="@item.NumberOfMonth" selected>@item.Name (Paid for @_m)</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="">Total fee you have to pay (@_currency)</label>
                                    <input type="number" class="form-control" id="PaidAmount" name="PaidAmount" value="@Math.Ceiling((insurance.Amount/12)*3)" min="1" readonly>
                                </div>
                            </div>
                        </div>
                        <h3 class="section-heading-2">
                            Please enter your amount here to complete the payment
                        </h3>
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Fee" min="@insurance.Amount" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="">Your message to us (option)</label>
                                    <input type="text" class="form-control" id="ContentDetails" name="ContentDetails">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="success"></div>
                            <button type="submit" id="submit" class="btn btn-secondary" >Confirm</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>
<script>
    $(document).ready(function(){
            var today = new Date();
            var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
            var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            var dateTime = date+' '+time;


            $("#Created_at").val(dateTime)

            $("#PeriodicID").change(function(){
                var m = Number($("#PeriodicID").find(":selected").attr('month-value'));
                $("#PaidAmount").val(m * @Math.Ceiling(insurance.Amount/12))
            })

            $("#submit").click(function(e){
                e.preventDefault();
                if($("#Fee").val()<$("#PaidAmount").val()){
                    alert("Your entered amount is not enough for the payment!");
                    return false;
                }
                else
                {
                    var set = confirm('Are you sure to confirm to pay this contract?');
                    if(set){
                        $(this).unbind('click');
                        e.currentTarget.click();
                        return true;
                    }
                }
            })
    })

</script>