@using WebApp.Models;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;

@{
    var _title = "Insure - Insurance Company";
    var _address = "Ho Chi Minh City - Viet Nam";
    var _phone = " (+84) 123 456 789";
    var _time_work = "Mon - Sat | 08:00 - 17:00";
    var _closed_time = "Sunday Closed";
    var _contact_email = "vninsuarancesupport@isv.com.vn";
    var _street = "District 7";
    var _welcome_text = "Welcome to insurance company, we're here to help you";
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var db = new InsuranceOnlineContext();
    if (ViewBag.Title != null)
    {
        _title = ViewBag.Title;
    }
    var list_services = db.Categories.ToList();
}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@_title</title>
    <meta name="description" content="Insure - Insurance Company">
    <meta name="keywords" content="insure, insurance, company, house insurance, car insurance, life insurance, motorcylcle insurance, boat insurance, travel insurance">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/apple-touch-icon-114x114.png">
    <link rel="stylesheet" type="text/css" href="~/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/vendor/magnific-popup.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,700i' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <script type="text/javascript" src="~/js/vendor/modernizr.min.js"></script>
    <script type="text/javascript" src="~/js/vendor/jquery.min.js"></script>
</head>

<body>
    <div class="animationload">
        <div class="loader"></div>
    </div>
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="topbar-left">
                        <div class="welcome-text">
                            @_welcome_text
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="topbar-right">
                        @*                        <ul class="topbar-menu">
                            <li><a href="~/find-an-agents.html" title="Find An Agents">Find An Agents</a></li>
                            <li><a href="~/faq.html" title="FAQ">FAQ's</a></li>
                            <li><a href="~/careers.html" title="Careers">Careers</a></li>
                            </ul>*@
                        <ul class="topbar-sosmed">
                            <li>
                                <a href="~/#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="~/#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="~/#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="~/#"><i class="fa fa-pinterest"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- TOPBAR LOGO SECTION -->
    <div class="topbar-logo">
        <div class="container">

            <a class="navbar-brand" href="@Url.Action("","Home")">
                <img src="~/images/logo.png" alt="" />
            </a>

            <div class="contact-info">
                <!-- INFO 1 -->
                <div class="box-icon-1">
                    <div class="icon">
                        <div class="fa fa-phone"></div>
                    </div>
                    <div class="body-content">
                        <div class="heading">@_phone</div>
                        @_contact_email
                    </div>
                </div>
                <!-- INFO 2 -->
                <div class="box-icon-1">
                    <div class="icon">
                        <div class="fa fa-clock-o"></div>
                    </div>
                    <div class="body-content">
                        <div class="heading">@_time_work</div>
                        @_closed_time
                    </div>
                </div>
                <!-- INFO 3 -->
                <div class="box-icon-1">
                    <div class="icon">
                        <div class="fa fa-map-marker"></div>
                    </div>
                    <div class="body-content">
                        <div class="heading">@_address</div>
                        @_street
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- NAVBAR SECTION -->
    <div class="navbar navbar-main">

        <div class="container container-nav">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="~/Home" class="dropdown-toggle" role="button">HOME </a>
                    </li>
                    <li class="dropdown">
                        <a href="~/#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ABOUT US <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("","Our-Company")">OUR COMPANY</a></li>
                            <li><a href="@Url.Action("","Our-Team")">OUR TEAM</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" @(controllerName.ToLower()=="services"?"class='active''":"")>
                        <a href="@Url.Action("","Services")" class="dropdown-toggle" role="button">
                            SERVICES
                        </a>
                    </li>
                    <li class="dropdown" @(controllerName.ToLower()=="faqs"?"class='active''":"")>
                        <a href="@Url.Action("","Faqs")" class="dropdown-toggle" role="button">
                            FAQS
                        </a>
                    <li class="dropdown" @(controllerName.ToLower()=="policies"?"class='active''":"")>
                        <a href="@Url.Action("","Policies")" class="dropdown-toggle" role="button">
                            POLICIES
                        </a>
                    </li>
                    <li class="dropdown" @(controllerName.ToLower()=="news"?"class='active''":"")>
                        <a href="@Url.Action("","News")" class="dropdown-toggle" role="button">
                            NEWS
                        </a>
                    </li>
                    <li class="dropdown" @(controllerName.ToLower()=="contact"?"class='active''":"")>
                        <a href="@Url.Action("","Contact")" class="dropdown-toggle" role="button">
                            CONTACT
                        </a>
                    </li>
                    <li class="dropdown" @((controllerName.ToLower()=="account"||controllerName.ToLower()=="login")?"class='active''":"")>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ACCOUNT <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                                @{
                                    var a = Context.Session.GetInt32("user_id");
                                    if (a != null)
                                    {
                                        <li><a href="@Url.Action("","Account")">Acount Infomation</a></li>
                                         <li><a href="@Url.Action("","Contracts")">Your Contracts</a></li>
                                        <li><a href="@Url.Action("","Logout")">LOGOUT</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("","Login")">LOGIN / SIGNUP</a></li>
                                    }
                                }
                        </ul>
                    </li>
                </ul>
            </nav>

            <div class="form-search">
                <form action="@Url.Action("","")">
                    <input type="text" placeholder="Search" name="search_input">
                    <button type="button" class="btn">Search</button>
                </form>
            </div>

        </div>
    </div>
    @if (ViewBag.Msg != null)
    {
        <div class="alert alert-warning alert-dismissible show msg" role="alert">
            <strong>@ViewBag.Msg</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    @RenderBody()

    <!-- FOOTER SECTION -->
    <div class="footer">

        <div class="container">

            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <div class="footer-item">
                        <img src="~/images/logo-bottom.png" alt="logo bottom">
                        <div class="footer-sosmed">
                            <a href="~/#" title="">
                                <div class="item">
                                    <i class="fa fa-facebook"></i>
                                </div>
                            </a>
                            <a href="~/#" title="">
                                <div class="item">
                                    <i class="fa fa-twitter"></i>
                                </div>
                            </a>
                            <a href="~/#" title="">
                                <div class="item">
                                    <i class="fa fa-instagram"></i>
                                </div>
                            </a>
                            <a href="~/#" title="">
                                <div class="item">
                                    <i class="fa fa-pinterest"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="footer-item">
                        <div class="footer-title">
                            Contact Info
                        </div>
                        <ul class="list-info">
                            <li>
                                <div class="info-icon">
                                    <span class="fa fa-map-marker"></span>
                                </div>
                                <div class="info-text">@_address</div>
                            </li>
                            <li>
                                <div class="info-icon">
                                    <span class="fa fa-phone"></span>
                                </div>
                                <div class="info-text">@_phone</div>
                            </li>
                            <li>
                                <div class="info-icon">
                                    <span class="fa fa-envelope"></span>
                                </div>
                                <div class="info-text">@_contact_email</div>
                            </li>
                            <li>
                                <div class="info-icon">
                                    <span class="fa fa-clock-o"></span>
                                </div>
                                <div class="info-text">@_time_work</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="footer-item">
                        <div class="footer-title">
                            Our Services
                        </div>
                        <ul class="list">
                            @{
                                if (list_services != null && list_services.Count > 0)
                                {
                                    foreach (var item in list_services.Take(4))
                                    {
                                        <li><a href="@Url.Action("","Services", new { id=item.CategoryId})" title="">@item.CategoryName</a></li>
                                    }
                                }

                            }
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="footer-item">
                        <div class="footer-title">
                            Additional Links
                        </div>
                        <ul class="list">
                            <li><a href="@Url.Action("","Login")" title="">Login / Logout</a></li>
                            <li><a href="@Url.Action("","Our-Company")" title="">Our Company</a></li>
                            <li><a href="@Url.Action("","Our-Team")" title="">Our Team</a></li>
                            <li><a href="@Url.Action("","Contact")" title="">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="fcopy">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <p class="ftex">&copy; 2022 Insure  - All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="~/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/vendor/jquery.superslides.js"></script>
    <script type="text/javascript" src="~/js/vendor/owl.carousel.js"></script>
    <script type="text/javascript" src="~/js/vendor/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="~/js/vendor/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/js/vendor/validator.min.js"></script>
    <script type="text/javascript" src="~/js/vendor/form-scripts.js"></script>
    <script type="text/javascript" src="~/js/script.js"></script>
</body>
</html>