
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BANNER -->
<div class="section banner-page services">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="title-page">Services</div>
                <ol class="breadcrumb">
                    <li><a href="index.html">Services</a></li>
                    <li class="active">Services Layout 1</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- Page -->
<div class="section services section-border">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h2 class="section-heading">
                    What We Offers
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>
        <div class="row grid-item">
            <div class="col-sm-6 col-md-4">
                <div class="box-image-1">
                    <div class="image">
                        <a href="@Url.Action("Detail")" title="House Insurance"><img src="images/500x350.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <div class="description">
                        <h3 class="blok-title">House <br />Insurance</h3>
                        <a href="@Url.Action("Detail")" title="GET A QUOTE" class="btn btn-secondary">GET A QUOTE</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="box-image-1">
                    <div class="image">
                        <a href="@Url.Action("Detail")" title="House Insurance"><img src="images/500x350.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <div class="description">
                        <h3 class="blok-title">Car <br />Insurance</h3>
                        <a href="@Url.Action("Detail")" title="GET A QUOTE" class="btn btn-secondary">GET A QUOTE</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="box-image-1">
                    <div class="image">
                        <a href="@Url.Action("Detail")" title="House Insurance"><img src="images/500x350.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <div class="description">
                        <h3 class="blok-title">Life <br />Insurance</h3>
                        <a href="@Url.Action("Detail")" title="GET A QUOTE" class="btn btn-secondary">GET A QUOTE</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="box-image-1">
                    <div class="image">
                        <a href="@Url.Action("Detail")" title="House Insurance"><img src="images/500x350.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <div class="description">
                        <h3 class="blok-title">Motorcylcle <br />Insurance</h3>
                        <a href="@Url.Action("Detail")" title="GET A QUOTE" class="btn btn-secondary">GET A QUOTE</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="box-image-1">
                    <div class="image">
                        <a href="@Url.Action("Detail")" title="House Insurance"><img src="images/500x350.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <div class="description">
                        <h3 class="blok-title">Boat <br />Insurance</h3>
                        <a href="@Url.Action("Detail")" title="GET A QUOTE" class="btn btn-secondary">GET A QUOTE</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="box-image-1">
                    <div class="image">
                        <a href="@Url.Action("Detail")" title="House Insurance"><img src="images/500x350.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <div class="description">
                        <h3 class="blok-title">Travel <br />Insurance</h3>
                        <a href="@Url.Action("Detail")" title="GET A QUOTE" class="btn btn-secondary">GET A QUOTE</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- TESTIMONY -->
<div class="section testimony">
    <div class="container">

        <div class="row">

            <div class="col-sm-6 col-md-3 col-md-offset-2">
                <div class="people">
                    <img class="user-pic" src="images/say-img-2.jpg" alt="">
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-md-offset-1">

                <div class="margin-bottom-70"></div>
                <h2 class="title-agent">Select Your Agents Now!</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="#" class="btn btn-secondary" title="OUR COMPANY">FIND AN AGENTS</a>
                <div class="margin-bottom-50"></div>

            </div>

        </div>
    </div>
</div>

<!-- CTA -->
<div class="section cta">
    <div class="container">

        <div class="row">

            <div class="col-sm-12 col-md-7 col-md-offset-1">
                <h3 class="cta-desc">Get An Insurance Right Now & Save up to 10%</h3>
            </div>
            <div class="col-sm-12 col-md-3">
                <a href="@Url.Action("Detail")" title="" class="btn btn-orange-cta pull-right btn-view-all">GET A QUOTE</a>
            </div>

        </div>
    </div>
</div>


